.compteur{

    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid red;
    font-weight: bold;
    font-size: 2rem;
}

input{
    width: 100%;
    background-color: brown;
    color: white;
    font-size: 2rem;
    border-radius: 2rem;
}
.inverse{
    transform: scale(-1);
}

.cont1{
    display: flex;
    align-items: center;
    margin: 2rem;
    
    
    
  }
  .vert{
    background-color: violet;
    display: flex;
    width: 40em;
    margin: 2rem;
    padding: 2rem;

  }
  .rouge{
    background-color: red;
    display: flex;
    width: 40em;
    padding: 2rem;
    margin: 2rem;
  }