.galerie{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
       
    gap: 1.5rem;
}

.galerie img{
    height: 20rem;
    width: 18rem;
    padding: 1rem;
    border: solid 1px red;
    border-radius: 5px;
    
}