.header{
    display: flex;
    background-color: rgb(97, 175, 23);
    text-align: left;
    padding:1rem ;
}
.entete button{
    border: none;
    background-color: transparent;
    text-decoration: underline;
    cursor: pointer;
}
h1{
    color: red;
}
img{
    display: flex;
    width: 20em;
}